<launch>
    <param name = "/use_sim_time" value = "true"/>
    <arg name= "bagfile"        default="200625_snu_4_result.bag"/>

    <!--1. Data feeder-->
    <node pkg="rosbag" type="play" name="rosbag_record_diag" args="--clock --loop $(find atypical_driving)/worlds/$(arg bagfile)" >
        <remap from="/tf" to="/tf_keti"/>
    </node>
     <include file = "$(find atypical_driving)/launch/atypical_driving_snu.launch">
         <arg name="goal/x" value="332268.53"/>
         <arg name="goal/y" value="4138453.75"/>
         <arg name="lane_csv_file" value="$(find atypical_driving)/lane/waypoint_keti0626.csv"/>
     </include>
</launch>