<launch>

<arg name="snu_frame_id" default="SNU"/>
<arg name="occu_frame_id" default="SNU"/>
<arg name="world_frame_id" default="map"/>
<arg name="car_base_frame_id" default="/car_base_link"/>
<arg name="lidar_frame_id" default = "LidarSensor1"/>
<arg name="detected_object_frame_id" default = "map"/>

<arg name= "lane_width_nominal" default="10"/>
<arg name = "lane_csv_file" default = "$(find atypical_driving)/lane/waypoint_airsim.csv"/>
<arg name = "log_file_prefix" default= "$(find atypical_driving)/log/log" />
<arg name = "waypoints" default="$(find atypical_driving)/param/goal_airsim.yaml"/>

<arg name="vehicle_model/ly"            default="2.7"/> <!-- for the dynamics -->
<arg name="vehicle_model/lx"            default="2"/> <!-- for safe margin -->
<arg name="vehicle_model/is_rear_wheel"     default="true"/>

<arg name="nominal_speed"     default="2"/>
<arg name="lp_horizon"     default="5"/>
<arg name="lp_period"     default="0.1"/>

<arg name="gp_horizon"     default="30"/>
<arg name="gp_period"     default="0.4"/>

<arg name="planning_dt"     default="0.1"/> <!--?-->

<arg  name="obstacle_radius" value="0.8" />

<arg name="gp_z_min" value = "0.5"/>
<arg name="gp_z_max" value = "1.0"/>

<arg name = "goal/x" default = "0"/>
<arg name = "goal/y" default = "0"/>


<group ns="atypical_planning_test">
<rosparam file="$(find atypical_driving)/param/MPC_weight.yaml"/>
</group>


<!--3. server-->
<node pkg="atypical_driving" type="integration_server" name="atypical_planning_test" output="screen">

    <remap from = "/occupancy_grid" to = "/costmap_node/costmap/costmap"/>

    <param name = "world_frame_id" value="$(arg world_frame_id)" />
    <param name = "snu_frame_id" value="$(arg snu_frame_id)" />
    <param name = "occu_map_frame_id" value="$(arg occu_frame_id)" />
    <param name = "base_link_id" value="$(arg car_base_frame_id)" />
    <param name = "detected_objects_id" value="$(arg detected_object_frame_id)" />

    <!--Shaping params for nominal_speed selection-->
    <param name = "vmax" value = "3"/> <!--m/s-->
    <param name = "vmin" value = "1.5"/> <!--m/s-->
    <param name = "curve_thres" value = "0.3"/> <!--m/s-->

    <param name = "goal/x" value = "$(arg goal/x)"/>
    <param name = "goal/y" value = "$(arg goal/y)"/>
    <param name = "goal_thres" value = "1.5"/>

    <param name = "lane_csv_file" value = "$(arg lane_csv_file)"/>
    <param name = "lane_width" value="$(arg lane_width_nominal)"/>
    <param name = "log_file_prefix" value = "$(arg log_file_prefix)" />

    <rosparam command="load" file="$(arg waypoints)" />

    <param name="global_planner/horizon" value="$(arg gp_horizon)" />
    <param name="global_planner/period" value="$(arg gp_period)" />

    <param name="global_planner/car_width" value="$(arg vehicle_model/lx)" />
    <param name="global_planner/car_z_min" value="$(arg gp_z_min)" />
    <param name="global_planner/car_z_max" value="$(arg gp_z_max)" />

    <param name="global_planner/car_speed" value="$(arg nominal_speed)" />
    <param name="global_planner/car_acceleration" value="1.0"/>
    <param name="global_planner/world_x_min" value="-100" />
    <param name="global_planner/world_y_min" value="-100" />
    <param name="global_planner/world_x_max" value="100" />
    <param name="global_planner/world_y_max" value="100" />
    <param name="global_planner/grid_resolution" value="0.3" />
    <param name="global_planner/box_resolution" value="0.3" />
    <param name="global_planner/box_max_size" value="30" />
    <param name ="global_planner/max_steering_angle" value = "$(eval 3.14/9)"/>
    <param name ="global_planner/width_min" value = "1.5"/>
    <param name ="global_planner/width_blocked_min" value = "3"/>


    <param name="local_planner/horizon" value="$(arg lp_horizon)" />
    <param name="local_planner/period" value="$(arg lp_period)" />

    <param name="local_planner/ts" value="$(arg planning_dt)" />
    <param name="local_planner/car_longtitude" value="$(arg vehicle_model/ly)" />
    <param name="local_planner/max_steer" value="0.52" />
    <param name="local_planner/max_accel" value="1.5" />
    <param name="local_planner/min_accel" value="-1.5" />

    <param name = "smooth_weight" value="0.7"/>

    <param name="predictor/observation_queue" value="10" />
    <param name="predictor/ref_height" value="0.4" />
    <param name="predictor/log_dir" value="$(find atypical_driving)/log/predictor" />
</node>

</launch>
