<!-- 
    test_with_virtual_environment.launch
-->

<launch>
  <arg name = "use_sim_time" value = "false"/>
<!--   <arg name="bagfile"        default="autoDriveIntegration.bag"/> -->
<!--   <arg name="bagfile"        default="autoDriveTwoBoxes.bag"/> -->
  <arg name = "pcl_topic" default = "/airsim_car_node/PhysXCar/lidar/LidarSensor1"/>

  <param name="use_sim_time" value="$(arg use_sim_time)"/>

<!-- Arguments Start -->
  <arg name="snu_frame_id" default="SNU"/>
  <arg name="occu_frame_id" default="SNU"/>
  <arg name="world_frame_id" default="map"/>
  <arg name="car_base_frame_id" default="/car_base_link"/>
  <arg name="lidar_frame_id" default = "LidarSensor1"/>
  <arg name ="detected_object_frame_id" default = "map"/>


  <arg name= "lane_width" default="10"/>
  <arg name = "lane_csv_file" default = "$(find atypical_driving)/lane/waypoint_airsim.csv"/>
  <arg name = "log_file_prefix" default= "$(find atypical_driving)/log/log" />
  <arg name = "waypoints" default="$(find atypical_driving)/param/goal_airsim.yaml"/>

  <arg name="vehicle_model/ly"            default="2.7"/> <!-- for the dynamics -->
  <arg name="vehicle_model/lx"            default="2"/> <!-- for safe margin -->
  <arg name="vehicle_model/is_rear_wheel"     default="true"/>

  <arg name="nominal_speed"     default="2"/>
  <arg name="lp_horizon"     default="5"/>
  <arg name="lp_period"     default="0.1"/>

  <arg name="gp_horizon"     default="30"/>
  <arg name="gp_period"     default="0.4"/>

  <arg name="planning_d/planning_dt"     default="0.1"/> <!--?-->

  <arg name="gp_z_min" value = "0.5"/>
  <arg name="gp_z_max" value = "1.0"/>

  <arg name = "goal/x"  default = "12"/> <!--in world frame -->
  <arg name = "goal/y" default = "0"/> <!--in world frame -->

  <group ns="atypical_planning_test">
    <rosparam file="$(find atypical_driving)/param/MPC_weight.yaml"/>
  </group>




    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="$(arg pcl_topic)"/>
<!--        <remap from="cloud_in" to="/octomap_point_cloud_centers"/>--> -->

        <remap from="scan" to="/scan"/>
        <rosparam>
            target_frame:  LidarSensor1 # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: -0.5
            max_height: 0.2

            angle_min: -3.1408 # -M_PI/2
            angle_max: 3.1408 # M_PI/2
            angle_increment: 0.0027 # M_PI/360.0
            scan_time: 0.0333
            range_min: 0.0
            range_max: 200.0
            use_inf: true
            inf_epsilon: 100.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>


    <!--   OccupancyGrid  -->
     <include file = "$(find atypical_driving)/launch/occupancy2d/costmap_2d.launch">
         <arg name = "play_bag" value = "false"/>
         <arg name = "use_sim_time" value="$(arg use_sim_time)"/>
         <arg name = "rviz" value = "false"/>
         <arg name = "occupancy_frame_id" value = "$(arg occu_frame_id)"/>
         <arg name = "lidar_frame_id" value = "$(arg lidar_frame_id)"/>
         <arg name = "cost_map_min_z" value = "-10"/>
         <arg name = "cost_map_max_z" value = "10"/>
     </include>


<!-- Node start-->

    <!--2. client-->
    <node pkg="atypical_driving" type="integration_client" name="atypical_driving_client" output="screen">
        <param name = "obstacle_radius_x" value="1.0"/>
        <param name = "obstacle_radius_y" value="0.5"/>
    </node>

    <!--3. server-->
    <include file = "$(find atypical_driving)/launch/integration_server.launch" >
        <arg name = "world_frame_id" value = "$(arg world_frame_id)"/>
        <arg name = "snu_frame_id" value = "$(arg snu_frame_id)"/>
        <arg name = "occu_frame_id" value = "$(arg occu_frame_id)"/>
        <arg name = "car_base_frame_id" value = "$(arg car_base_frame_id)"/>
        <arg name = "detected_object_frame_id" value = "$(arg detected_object_frame_id)"/>

        <arg name = "lidar_frame_id" value = "$(arg lidar_frame_id)"/>
        <arg name = "lane_csv_file" value = "$(arg lane_csv_file)"/>

        <arg name = "goal/x" value = "$(arg goal/x)"/>
        <arg name = "goal/y" value = "$(arg goal/y)"/>

    </include>


  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find atypical_driving)/launch/rviz_config/config.rviz" output="log" />

<!-- Nodes End -->
</launch>
