<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    test_with_virtual_environment.launch
-->

<launch>

  <arg name = "use_sim_time" value = "true"/>
  <arg name= "bagfile"        default="200518-SNU-1_result.bag"/>

  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <arg name = "pcl_topic" default = "/velodyne_points"/>

    <!-- Arguments Start -->
  <arg name ="snu_frame_id" default="SNU"/>
  <arg name ="occu_frame_id" default="SNU"/>
  <arg name ="world_frame_id" default="map"/>
  <arg name ="car_base_frame_id" default="/car_base_link"/>
  <arg name ="lidar_frame_id" default = "velodyne"/>
  <arg name = "lane_width" default="9"/>
  <arg name = "lane_csv_file" default = "$(find atypical_driving)/lane/waypoint.csv"/>
  <arg name = "log_file_prefix" default= "$(find atypical_driving)/log/log" />
  <arg name = "waypoints" default="$(find atypical_driving)/param/goal_keti.yaml"/>
  <arg name="vehicle_model/ly"            default="2.7"/> <!-- for the dynamics -->
  <arg name="vehicle_model/lx"            default="2"/> <!-- for safe margin -->
  <arg name="vehicle_model/steer_max"     default="0.52"/>
  <arg name="vehicle_model/accel_max"     default="1"/>
  <arg name="vehicle_model/accel_min"     default="-3"/>
  <arg name="vehicle_model/is_rear_wheel"     default="false"/>
  <arg name="nominal_speed"     default="2.1"/>
  <arg name="lp_horizon"     default="5"/> <!--preirod = horizon -->
  <arg name="lp_period"     default="0.1"/> <!--preirod = horizon -->
  <arg name="planning_dt"     default="0.1"/>
  <arg name="gp_horizon"     default="20"/>
  <arg name="gp_period"     default="0.3"/>
  <arg name="goal_thres"     default="1"/>
  <arg  name="obstacle_radius" value="0.8" />
  <arg name="gp_z_min" value = "0.0"/>
  <arg name="gp_z_max" value = "0.5"/>

  <group ns="atypical_planning_test">
    <rosparam file="$(find atypical_driving)/param/MPC_weight.yaml"/>
  </group>

  <!-- Node start-->


<!--   OccupancyGrid  -->
 <include file = "$(find atypical_driving)/launch/occupancy2d/costmap_2d.launch">
     <arg name = "play_bag" value = "false"/>
     <arg name = "bagfile" value="$(arg bagfile)"/>
     <arg name = "use_sim_time" value="$(arg use_sim_time)"/>
     <arg name = "rviz" value = "false"/>
     <arg name = "occupancy_frame_id" value = "$(arg occu_frame_id)"/>
     <arg name = "lidar_frame_id" value = "$(arg lidar_frame_id)"/>
     <arg name = "pcl_topic" value = "$(arg pcl_topic)"/>
 </include>


    <!--1. Data feeder-->
    <node pkg="rosbag" type="play" name="rosbag_record_diag" args="--clock --loop $(find atypical_driving)/worlds/$(arg bagfile)" >
        <remap from="/current_pose_cov" to="/current_pose"/>
        <remap from="/velodyne_points" to="/velodyne_points_keti"/>
        <remap from="/tf" to="/tf_keti"/>
    </node>
    <!--2. snu_car_tf to velodyne_tf -->
    <node pkg="tf" type="static_transform_publisher" name="link2lidar" args="0 0 0.2 0 0 0  $(arg car_base_frame_id) $(arg lidar_frame_id) 100"/>

    <!--3. client-->
    <node pkg="atypical_driving" type="keti_client" name="atypical_driving_client" output="screen">
        <param name="rejection_radius" value="1.6"/>
		<remap from="/current_pose" to="current_pose_non" />
    </node>


    <!--4. server-->
    <include file = "$(find atypical_driving)/launch/integration_server.launch" >
        <arg name = "world_frame_id" value = "$(arg world_frame_id)"/>
        <arg name = "snu_frame_id" value = "$(arg snu_frame_id)"/>
        <arg name = "occu_frame_id" value = "$(arg occu_frame_id)"/>
        <arg name = "car_base_frame_id" value = "$(arg car_base_frame_id)"/>
        <arg name = "lidar_frame_id" value = "$(arg lidar_frame_id)"/>
        <arg name = "lane_csv_file" value = "$(arg lane_csv_file)"/>
    </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find atypical_driving)/launch/rviz_config/config.rviz" output="log" />


<!-- Nodes End -->
</launch>
