<!-- 
    test_with_virtual_environment.launch
-->

<launch>
  <arg name = "use_sim_time" value = "true"/>
  <arg name="bagfile"        default="autoDriveIntegration.bag"/>


  <param name="use_sim_time" value="$(arg use_sim_time)"/>

<!--   OccupancyGrid  -->
 <include file = "$(find atypical_driving)/launch/occupancy2d/test_costmap_2d.launch">
     <arg name = "play_bag" value = "false"/>
     <arg name="bagfile" value="$(arg bagfile)"/>
     <arg name="use_sim_time" value="$(arg use_sim_time)"/>
 </include>

<!-- Arguments Start -->
  <arg name="snu_frame_id" default="SNU"/>
  <arg name="occu_frame_id" default="SNU"/>
  <arg name="world_frame_id" default="map"/>
  <arg name="car_base_frame_id" default="/car_base_link"/>

  <arg name="lane_width" default="10"/>
  <arg name = "lane_csv_file" default = "$(find atypical_driving)/lane/waypoint_airsim.csv"/>
  <arg name = "log_file_prefix" default= "$(find atypical_driving)/log/log" />
  <arg name = "waypoints" default="$(find atypical_driving)/param/goal_airsim.yaml"/>

  <arg name="vehicle_model/ly"            default="2.7"/> <!-- for the dynamics -->
  <arg name="vehicle_model/lx"            default="2"/> <!-- for safe margin -->
  <arg name="vehicle_model/is_rear_wheel"     default="true"/>

  <arg name="nominal_speed"     default="2"/>
  <arg name="lp_horizon"     default="5"/>
  <arg name="lp_period"     default="0.1"/>

  <arg name="gp_horizon"     default="30"/>
  <arg name="gp_period"     default="0.4"/>

  <arg name="planning_dt"     default="0.1"/> <!--?-->

  <arg  name="obstacle_radius" value="0.8" />

  <arg name="gp_z_min" value = "0.5"/>
  <arg name="gp_z_max" value = "1.0"/>

  <group ns="atypical_planning_test">
    <rosparam file="$(find atypical_driving)/param/MPC_weight.yaml"/>
  </group>


<!-- Node start-->

    <!--1. Data feeder-->
    <node pkg="rosbag" type="play" name="rosbag_record_diag" args="--clock $(find atypical_driving)/worlds/$(arg bagfile)" >
        <remap from="octomap_binary" to="/atypical_planning_test/local_map"/>
        <remap from="/airsim_car_node/object_pose" to="/atypical_planning_test/obstacle_pose"/>
    </node>

    <!--2. client-->
    <node pkg="atypical_driving" type="integration_client" name="atypical_driving_client" output="screen">
        <param name = "obstacle_radius" value="$(arg obstacle_radius)"/>
    </node>

    <!--3. server-->
    <node pkg="atypical_driving" type="integration_server" name="atypical_planning_test" output="screen">

    <remap from = "/occupancy_grid" to = "/costmap_node/costmap/costmap"/>


    <param name = "world_frame_id" value="$(arg world_frame_id)" />
    <param name = "snu_frame_id" value="$(arg snu_frame_id)" />
    <param name = "occu_map_frame_id" value="$(arg occu_frame_id)" />
    <param name = "base_link_id" value="$(arg car_base_frame_id)" />


    <param name = "lane_csv_file" value = "$(arg lane_csv_file)"/>
    <param name = "lane_width" value="$(arg lane_width)"/>
    <param name = "log_file_prefix" value = "$(arg log_file_prefix)" />

    <rosparam command="load" file="$(arg waypoints)" />

    <param name="global_planner/horizon" value="$(arg gp_horizon)" />
    <param name="global_planner/period" value="$(arg gp_period)" />

    <param name="global_planner/car_width" value="$(arg vehicle_model/lx)" />
    <param name="global_planner/car_z_min" value="$(arg gp_z_min)" />
    <param name="global_planner/car_z_max" value="$(arg gp_z_max)" />

    <param name="global_planner/car_speed" value="$(arg nominal_speed)" />
    <param name="global_planner/car_acceleration" value="1.0"/>
    <param name="global_planner/world_x_min" value="-100" />
    <param name="global_planner/world_y_min" value="-100" />
    <param name="global_planner/world_x_max" value="100" />
    <param name="global_planner/world_y_max" value="100" />
    <param name="global_planner/grid_resolution" value="0.5" />
    <param name="global_planner/box_resolution" value="0.3" />
    <param name="global_planner/box_max_size" value="30" />
    <param name="global_planner/max_smoothing_iteration" value="5" />
    <param name="global_planner/smoothing_margin" value="0.5" />
    <param name="global_planner/max_steering_angle" value="0.3" />



    <param name="local_planner/horizon" value="$(arg lp_horizon)" />
    <param name="local_planner/period" value="$(arg lp_period)" />

    <param name="local_planner/obstacle_radius_nominal" value="$(arg obstacle_radius)" />
    <param name="local_planner/ts" value="$(arg planning_dt)" />
    <param name="local_planner/car_longtitude" value="$(arg vehicle_model/ly)" />
    <param name="local_planner/max_steer" value="0.52" />
    <param name="local_planner/max_accel" value="1.5" />
    <param name="local_planner/min_accel" value="-1.5" />

    <param name="predictor/observation_queue" value="4" />
    <param name="predictor/ref_height" value="0.4" />
  </node>


  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find atypical_driving)/launch/rviz_config/config.rviz" output="log" />

<!-- Nodes End -->
</launch>
