<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name = "use_sim_time" value = "true"/>
<!--   <arg name= "bagfile"        default="200518-SNU-1_result.bag"/> -->
  <arg name= "bagfile"        default="200625_snu_4_result.bag"/>

  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <arg name = "pcl_topic" default = "/velodyne_points_snu"/>

    <!-- Arguments Start -->
  <arg name ="snu_frame_id" default="SNU"/>
  <arg name ="occu_frame_id" default="SNU"/>
  <arg name ="world_frame_id" default="map"/>
  <arg name ="car_base_frame_id" default="/car_base_link"/>
  <arg name ="lidar_frame_id" default = "velodyne"/>
  <arg name ="detected_object_frame_id" default = "velodyne"/>

  <arg name = "lane_width" default="9"/>
  <arg name = "lane_csv_file" default = "$(find atypical_driving)/lane/waypoint_keti0626.csv"/>
  <arg name = "log_file_prefix" default= "$(find atypical_driving)/log/log" />


  <arg name = "goal/x"  default = "332268.53"/> <!--in world frame -->
  <arg name = "goal/y" default = "4138453.75"/> <!--in world frame -->

  <group ns="atypical_planning_test">
    <rosparam file="$(find atypical_driving)/param/MPC_weight.yaml"/>
  </group>

  <!-- Node start-->

    <!--   OccupancyGrid  -->
     <include file = "$(find atypical_driving)/launch/occupancy2d/costmap_2d.launch">
         <arg name = "play_bag" value = "false"/>
         <arg name = "bagfile" value="$(arg bagfile)"/>
         <arg name = "use_sim_time" value="$(arg use_sim_time)"/>
         <arg name = "rviz" value = "false"/>
         <arg name = "occupancy_frame_id" value = "$(arg occu_frame_id)"/>
         <arg name = "lidar_frame_id" value = "$(arg lidar_frame_id)"/>
         <arg name = "pcl_topic" value = "$(arg pcl_topic)"/>
         <arg name = "cost_map_min_z" value = "-0.5"/>
         <arg name = "cost_map_max_z" value = "0.6"/>
     </include>


    <!--1. Data feeder-->
    <node pkg="rosbag" type="play" name="rosbag_record_diag" args="--clock --loop $(find atypical_driving)/worlds/$(arg bagfile)" >
        <remap from="/current_pose_cov" to="/current_pose"/>
        <remap from="/tf" to="/tf_keti"/>
    </node>
    <!--2. snu_car_tf to velodyne_tf -->
    <node pkg="tf" type="static_transform_publisher" name="link2lidar" args="0 0 0.2 0 0 0  $(arg car_base_frame_id) $(arg lidar_frame_id) 100"/>

    <!--3. client-->
    <node pkg="atypical_driving" type="keti_client" name="atypical_driving_client" output="screen">
        <param name="rejection_radius" value="1.6"/>
    </node>


    <!--4. server-->
    <include file = "$(find atypical_driving)/launch/integration_server.launch" >
        <arg name = "world_frame_id" value = "$(arg world_frame_id)"/>
        <arg name = "snu_frame_id" value = "$(arg snu_frame_id)"/>
        <arg name = "occu_frame_id" value = "$(arg occu_frame_id)"/>
        <arg name = "car_base_frame_id" value = "$(arg car_base_frame_id)"/>
        <arg name = "lidar_frame_id" value = "$(arg lidar_frame_id)"/>
        <arg name = "detected_object_frame_id" value = "$(arg detected_object_frame_id)"/>

        <arg name = "lane_width_nominal" value = "$(arg lane_width)"/>
        <arg name = "lane_csv_file" value = "$(arg lane_csv_file)"/>

        <arg name = "goal/x" value = "$(arg goal/x)"/>
        <arg name = "goal/y" value = "$(arg goal/y)"/>

        <arg name = "period"  value= "0.5"/>
        <arg name = "horizon"  value= "5"/> <!--Also change dimension.h-->
        <arg name="planning_dt" value="0.1"/>

    </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find atypical_driving)/launch/rviz_config/config.rviz" output="log" />


<!-- Nodes End -->
</launch>
