<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name = "use_sim_time" value = "true"/>
<!--  <arg name= "bagfile"        default="kiapi_static1.bag"/> -->
  <arg name= "bagfile"        default="niceButNominalTooFast.bag"/>

  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <arg name = "pcl_topic" default = "/velodyne_points_snu"/>

    <!-- Arguments Start -->
  <arg name ="snu_frame_id" default="SNU"/>
  <arg name ="occu_frame_id" default="SNU"/>
  <arg name ="world_frame_id" default="map"/>
  <arg name ="car_base_frame_id" default="/car_base_link"/>
  <arg name ="lidar_frame_id" default = "velodyne"/>
  <arg name ="detected_object_frame_id" default = "velodyne"/>
  <arg name ="car_imu_frame_id" default = "/car_imu"/>

  <arg name = "lane_width" default="5"/>
  <arg name = "lane_csv_file" default = "$(find atypical_driving)/lane/interpolated_yugokri_path1.csv"/>
  <arg name = "log_file_prefix" default= "$(find atypical_driving)/log/log" />


  <arg name = "goal/x"  default = "451489.3968"/> <!--in world frame -->
  <arg name = "goal/y" default = "3947475.6160"/> <!--in world frame -->


  <group ns="atypical_planning_test">
    <rosparam file="$(find atypical_driving)/param/MPC_weight.yaml"/>
  </group>

  <!-- Node start-->



    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="$(arg pcl_topic)"/>
<!--        <remap from="cloud_in" to="/octomap_point_cloud_centers"/>--> -->

        <remap from="scan" to="/scan"/>
        <rosparam>
            target_frame: car_imu # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: -1.4 # default = -0.8 / KIAPI = -1.5
            max_height: 0.1 # default = 0.3 / KIAPI= -0.9

            angle_min: -3.1408 # -M_PI/2
            angle_max: 3.1408 # M_PI/2
            angle_increment: 0.0027 # M_PI/360.0
            scan_time: 0.0333
            range_min: 0.0
            range_max: 100.0
            use_inf: true
            inf_epsilon: 100.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 3
        </rosparam>

    </node>


    <!--   OccupancyGrid  -->
     <include file = "$(find atypical_driving)/launch/occupancy2d/costmap_2d.launch">
         <arg name = "play_bag" value = "false"/>
         <arg name = "bagfile" value="$(arg bagfile)"/>
         <arg name = "use_sim_time" value="$(arg use_sim_time)"/>
         <arg name = "rviz" value = "false"/>
         <arg name = "occupancy_frame_id" value = "$(arg occu_frame_id)"/>
         <arg name = "lidar_frame_id" value = "$(arg lidar_frame_id)"/>
         <arg name = "cost_map_min_z" value = "-0.5"/>
         <arg name = "cost_map_max_z" value = "0.6"/>
     </include>


    <!--1. Data feeder-->
<!--    <node pkg="rosbag" type="play" name="rosbag_record_diag" args="&#45;&#45;clock &#45;&#45;loop $(find atypical_driving)/worlds/$(arg bagfile)" >-->

    <node pkg="rosbag" type="play" name="rosbag_record_diag" args="--clock -r 3 --loop /media/jbs/Samsung_T3/2020BAG/kiapi\ test/AACIntersection.bag" >
        <remap from="/current_pose_cov" to="/current_pose"/>
        <remap from="/tf" to="/tf_keti"/>
    </node>
    <!--2. snu_car_tf to velodyne_tf -->
    <node pkg="tf" type="static_transform_publisher" name="link2lidar" args="-2.5 0 0.2 0 0 0  $(arg car_base_frame_id) $(arg lidar_frame_id) 100"/>

    <!--3. client-->
    <node pkg="atypical_driving" type="keti_client" name="atypical_driving_client" output="screen">
        <param name="rejection_radius" value="1.6"/>
    </node>


    <!--4. server-->
    <include file = "$(find atypical_driving)/launch/integration_server.launch" >

        <arg name="use_keti_vel" value="false"/>

        <arg name = "world_frame_id" value = "$(arg world_frame_id)"/>
        <arg name = "snu_frame_id" value = "$(arg snu_frame_id)"/>
        <arg name = "occu_frame_id" value = "$(arg occu_frame_id)"/>
        <arg name = "car_base_frame_id" value = "$(arg car_base_frame_id)"/>
        <arg name = "lidar_frame_id" value = "$(arg lidar_frame_id)"/>
        <arg name = "detected_object_frame_id" value = "$(arg detected_object_frame_id)"/>
        <arg name = "lane_width_nominal" value = "$(arg lane_width)"/>
        <arg name = "lane_csv_file" value = "$(arg lane_csv_file)"/>
        <arg name = "isRearWheelDriven" value ="false"/>
        <arg name = "goal/x" value = "$(arg goal/x)"/>
        <arg name = "goal/y" value = "$(arg goal/y)"/>
<!--         <arg name = "period"  value= "0.05"/> -->
<!--         <arg name="planning_dt" value="0.1"/> -->

    </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find atypical_driving)/launch/rviz_config/config.rviz" output="log" />


<!-- Nodes End -->
</launch>
